h1 {
  color: white;
  font-family: 'Comic Sans MS';
  background-color: purple;
  font-size: 4em;
  border-style: outset;
  border-color: purple;
  text-shadow: 4px 3px black;
}  
h3 {
  color: white;
  font-family: 'Comic Sans MS';
  background-color: purple;
  border-style: outset;
  border-color: purple;
  text-shadow: 2px 1.5px black;
}
img {
  border-style: outset;
  border-color: purple;
  height: 50%;
  width: 50%;
  background-color: purple;
  border-style: outset;
}
p, ul {
  font-size: 3em;
  font-family: 'Comic Sans MS';
}
